.title { font-size: 0.9em; }
.article-meta .date {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.article-meta h1 {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  margin: 0 2px; /* or whatever */
}